.panel.panel-default
  .panel-body
    %h1 Sumaryczne zużycie
    
    %table.table.table-striped.table-hover
      %tr
        %th PPE
        %td= @ppe.code
      %tr
        %th Data początkowa
        %td= @usages[:start_date]
      %tr
        %th Data końcowa
        %td= @usages[:end_date]
      %tr.success
        %th 
          %h3 Zużycie(kWh)
        %td
          %h3= @usages[:usage].round(0)
      %tr
        %th Status pomiarów
        %td= @usages[:state]

.panel.panel-default
  .panel-body
    %h1 Odczyty użyte do obliczeń
    %table.table.table-striped.table-hover
      %tr
        %th Data
        %th Suma(kWh)
        %th Status
      - @usages[:usages].each do |u|
        %tr
          %td= u.date
          %td= u.usage.round(0)
          %td= u.state

= render 'ppes/export_csv_button'