.panel.panel-default
  .panel-body
    %h1 Sumaryczne zużycie
    
    %table.table.table-striped.table-hover
      %tr
        %th PPE
        %td= @ppe.code
      %tr
        %th Data początkowa
        %td= @usages[:start_date]
      %tr
        %th Data końcowa
        %td= @usages[:end_date]
      %tr.success
        %th 
          %h3 Zużycie(kWh)
        %td
          %h3= @usages[:total_usage].round(0)
      %tr
        %th Status wyliczenia
        %td= @usages[:total_state]

.panel.panel-default
  .panel-body
    - @usages[:area_usage].each do |k, v|
      %h1 Strefa #{k}
      %table.table.table-striped.table-hover
        %tr
          %th 
            %h3 Zużycie(kWh)
          %td
            %h3= v[:usage].round(0)
        %tr
          %th Status wylicznia
          %td= v[:state]
        %tr
          %th Odczyty użyte do obliczeń
          %td
            %table.table.table-striped.table-hover
              %tr
                %th Data
                %th Suma(kWh)
                %th Status
              - v[:usages].each do |u|
                %tr
                  %td= u.date
                  %td= u.usage.round(0)
                  %td= u.state

= render 'ppes/export_csv_button'