= render 'ppes/area_report_summary', { ppe: @ppe, usages: @usages }

.panel.panel-default
  .panel-body
    - @usages[:area_usage].each do |k, v|
      %h1 Strefa #{k}
      %table.table.table-striped.table-hover
        %tr
          %th 
            %h3 Zużycie(kWh)
          %td
            %h3= v[:usage].round(0)
        %tr
          %th Status wylicznia
          %td= v[:state]
        %tr
          %th Odczyty użyte do obliczeń
          %td
            %table.table.table-striped.table-hover
              %tr
                %th Data
                %th Suma(kWh)
                %th Status
              - v[:usages].each do |u|
                %tr
                  %td= u.date
                  %td= u.usage.round(0)
                  %td= u.state

= render 'ppes/export_csv_button'