.panel.panel-default
  .panel-body
    %h1 Sumaryczne zużycie
    
    %table.table.table-striped.table-hover
      %tr
        %th PPE
        %td= @ppe.code
      %tr
        %th Data początkowa
        %td= @usages[:start_date]
      %tr
        %th Data końcowa
        %td= @usages[:end_date]
      %tr.success
        %th 
          %h3 Zużycie(kWh)
        %td
          %h3= @usages[:sum].round(3)
      %tr
        %th Status pomiarów
        %td
          %span{class: "label #{@usages[:states]=='+' ? 'label-success' : 'label-warning'}"}
            = @usages[:states]

.panel.panel-default
  .panel-body
    %h1 Szczegółowe dane
    %table.table.table-striped.table-hover
      %tr
        %th Data
        %th Suma(kWh)
        %th Status
        %th Godzinowo
      - @usages[:usages].each do |u|
        %tr{id: "usage_#{u.id}"}
          = render 'hourly_usage_details', u: u


= render 'ppes/export_csv_button'