!!!
%html
  %head
    %title Current
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-material-red.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand.active{:href => root_path} CurrentApp
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{"data-target" => "#delete-ppe-dialog", "data-toggle" => "modal", href: '#'} - Usuń PPE
            %li
              %a{"data-target" => "#complete-dialog", "data-toggle" => "modal", href: '#'} + Wgraj nowy plik
    
    - if flash[:notice]
      .alert.alert-dismissable.alert-success
        %button.close{"data-dismiss" => "alert", :type => "button"} ×
        %h4 Sukces!
        %p
          = flash[:notice]
    - if flash[:alert]
      .alert.alert-dismissable.alert-warning
        %button.close{"data-dismiss" => "alert", :type => "button"} ×
        %h4 Uwaga!
        %p
          = flash[:alert]

    .container
      .panel.panel-default
        .panel-body
          %h1 Raporty
          %br
          %ul.nav.nav-tabs{:style => "margin-bottom: 15px;"}
            %li.active
              %a{"data-toggle" => "tab", :href => "#home"} Raport dla PPE
            %li
              %a{"data-toggle" => "tab", :href => "#profile"} Raport CSV zbiorczy
            %li
              %a{"data-toggle" => "tab", :href => "#daily"} Sumaryczne dzienne
          #myTabContent.tab-content
            #home.tab-pane.fade.active.in
              = form_for Ppe.new, url: '/ppes/usage' do |f|
                .row
                  .col-lg-4
                    .form-group
                      %label.col-lg-2.control-label{:for => "select"} PPE
                      .col-lg-10
                        = f.select :id, options_from_collection_for_select(Ppe.all, "id", "code", @ppe.try(:id)), {}, id:'select', class: 'form-control selectpicker', 'data-live-search' => true
                  .col-lg-3
                    .form-group
                      %label.col-lg-4.control-label Początek
                      .col-lg-8
                        = f.text_field :start_date, class: 'form-control', placeholder: "Data początkowa", id: 'start_date', value: @usages && @usages[:start_date]
                  .col-lg-3
                    .form-group
                      %label.col-lg-4.control-label Koniec
                      .col-lg-8
                        = f.text_field :end_date, class: 'form-control', placeholder: "Data końcowa", id: 'end_date', value: @usages && @usages[:end_date]
                  .col-lg-2
                    %button.btn.btn-primary{:type => "submit"}
                      Policz
                      .ripple-wrapper
            #profile.tab-pane.fade
              = form_for Ppe.new, url: '/ppes/usages_csv_all.csv' do |f|
                .row
                  .col-lg-5
                    .form-group
                      %label.col-lg-4.control-label Początek
                      .col-lg-8
                        = f.text_field :start_date, class: 'form-control', placeholder: "Data początkowa", id: 'start_date'
                  .col-lg-5
                    .form-group
                      %label.col-lg-4.control-label Koniec
                      .col-lg-8
                        = f.text_field :end_date, class: 'form-control', placeholder: "Data końcowa", id: 'end_date'
                  .col-lg-2
                    %button.btn.btn-primary{:type => "submit"}
                      Eksport CSV
                      .ripple-wrapper 
            #daily.tab-pane.fade
              = form_for Ppe.new, url: '/ppes/daily_csv_all.csv' do |f|
                .row
                  .col-lg-5
                    .form-group
                      %label.col-lg-4.control-label Początek
                      .col-lg-8
                        = f.text_field :start_date, class: 'form-control', placeholder: "Data początkowa", id: 'start_date'
                  .col-lg-5
                    .form-group
                      %label.col-lg-4.control-label Koniec
                      .col-lg-8
                        = f.text_field :end_date, class: 'form-control', placeholder: "Data końcowa", id: 'end_date'
                  .col-lg-2
                    %button.btn.btn-primary{:type => "submit"}
                      Eksport CSV
                      .ripple-wrapper 
                     

      = yield

    #complete-dialog.modal.fade{:tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4.modal-title Wgraj nowy plik
          = form_tag '/ppes/upload_usage', { :multipart => true, class: 'form-horizontal' } do
            .modal-body
              .row
                .col-lg-12
                  %label Plik z odczytami
                  .form-control-wrapper.fileinput
                    %input.form-control.empty{:readonly => "", :type => "text"}
                      %input#inputFile{:multiple => "", :type => "file", :name => 'file'}
                        .floating-label Wybierz plik...
                        %span.material-input
            .modal-footer
              %button.btn.btn-primary{:type => "submit"}
                Wgraj
                .ripple-wrapper

    #delete-ppe-dialog.modal.fade{:tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4.modal-title Usuwanie PPE
          %br
          = form_for Ppe.new, { :multipart => true, class: 'form-horizontal', method: 'DELETE' } do |f|
            .modal-body
              .row
                .col-lg-12
                  .form-group
                    %label.col-lg-2.control-label{:for => "select"} PPE
                    .col-lg-10
                      = f.select :id, options_from_collection_for_select(Ppe.all, "id", "code"), {}, id:'select', class: 'form-control selectpicker', 'data-live-search' => true
            .modal-footer
              = f.submit 'Usuń', data: {confirm: 'Czy jesteś pewien że chcesz usunąć ten PPE wraz z wszystkimi danymi?'}, class: 'input button btn btn-primary'