!!!
%html
  %head
    %title Current
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-material-red.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand.active{:href => "javascript:void(0)"} CurrentApp
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{"data-target" => "#complete-dialog", "data-toggle" => "modal", href: '#'} + Wgraj nowy plik
        
    .container
      .panel.panel-default
        .panel-body
          %h1 Zużycie
          = form_for Ppe.new, url: '/ppes/usage' do |f|
            .row
              .col-lg-4
                .form-group
                  %label.col-lg-2.control-label{:for => "select"} PPE
                  .col-lg-10
                    = f.select :id, options_from_collection_for_select(Ppe.all, "id", "code"), {}, id:'select', class: 'form-control'
              .col-lg-3
                .form-group
                  %label.col-lg-4.control-label Początek
                  .col-lg-8
                    = f.text_field :start_date, class: 'form-control', placeholder: "Data początkowa", id: 'start_date'
              .col-lg-3
                .form-group
                  %label.col-lg-4.control-label Koniec
                  .col-lg-8
                    = f.text_field :end_date, class: 'form-control', placeholder: "Data końcowa", id: 'end_date'
              .col-lg-2
                %button.btn.btn-primary{:type => "submit"}
                  Policz
                  .ripple-wrapper
      = yield

    #complete-dialog.modal.fade{:tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4.modal-title Wgraj nowy plik
          = form_tag '/ppes/upload_usage', { :multipart => true, class: 'form-horizontal' } do
            .modal-body
              .row
                .col-lg-12
                  %label Plik z odczytami
                  .form-control-wrapper.fileinput
                    %input.form-control.empty{:readonly => "", :type => "text"}
                      %input#inputFile{:multiple => "", :type => "file", :name => 'file'}
                        .floating-label Wybierz plik...
                        %span.material-input
            .modal-footer
              %button.btn.btn-primary{:type => "submit"}
                Wgraj
                .ripple-wrapper